<!-- START Top Navbar-->
<nav class="navbar" role="navigation">
   <!-- START navbar header-->
   <div class="navbar-header">
      <a class="navbar-brand ml-10" href="#/">
         <img class="img-fluid" src="assets/img/logo-v1-2.png" alt="App Logo" style="height: 27px" />
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Left navbar-->
   <ul class="navbar-nav mr-auto flex-row">
      <li class="nav-item">
         <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
         <a class="nav-link d-none d-md-block d-lg-block d-xl-block" trigger-resize="" (click)="toggleCollapsedSideabar()"
            *ngIf="!isCollapsedText()">
            <em class="fas fa-bars"></em>
         </a>
         <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
         <a class="nav-link sidebar-toggle d-md-none" (click)="settings.toggleLayoutSetting('asideToggled'); $event.stopPropagation()">
            <em class="fas fa-bars"></em>
         </a>
      </li>
   </ul>
   <!-- END Left navbar-->
   <!-- START Right Navbar-->
   <ul class="navbar-nav flex-row">
      <!-- START Alert menu-->
      <li>
         <a href="javascript:void(0);" ng-click="track()" class="track_link mr">Track your shipment</a>
      </li>
      <li class="clearfix ml-lg">
         <button class="btn bg-dark-blue button btn-sm col-xs-12" type="button" ng-click="create_ticket1()">
            Freshdesk
         </button>
      </li>
      <li class="nav-item dropdown dropdown-list topdropdown" dropdown>
         <!-- <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" dropdownToggle>
            <em class="fa fa-user-circle fa-2x"></em> 
         </!-->
         <div class="dropdown" style="float:right;">
            <a href="" class="dropbtn">
               <em class="icon-user"></em>
               <span class="pl-sm truncate"> {{userData.company_name}}</span>
               <span class="caret"></span>
            </a>
            <div class="dropdown-content">
               <a href="/user-page">
                  <em class="fa fa-user mr-sm"></em>
                  <span class="text-sm"> Hello {{userData.first_name}}</span>
               </a>
               <a href="/change-password">
                  <em class="fa fa-key"></em>
                  <span class="text-sm"> Change Password</span>
               </a>
               <a href="javascript:void(0)" (click)="logout()">
                  <em class="fa fa-power-off"></em>
                  <span class="text-sm"> Logout</span>
               </a>
            </div>
          </div>
      </li>
      <!-- END Alert menu-->
   </ul>
   <!-- END Right Navbar-->
</nav>
<!-- END Top Navbar-->