/* ========================================================================
   Component: preloader
 ========================================================================== */
@import "../../shared/styles/bootstrap/_functions.scss";
@import "../../shared/styles/bootstrap/_variables.scss";
@import "../../shared/styles/bootstrap/_mixins";
@import "../../shared/styles/app/variables";

$preloader-bg: $lightblack;
$preloader-wd: 45px;
$preloader-hg: 45px;

/*@noflip*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $preloader-bg;
    background-image: url(/app/img/preloader/preloader.gif);
    background-repeat: no-repeat;
    z-index: 9999;
    transition: opacity .65s;
}

/*@noflip*/
.preloader-progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: $preloader-wd;
    height: $preloader-hg;
    margin: auto;
    overflow: auto;
    height: 45px;
    width: 45px;
    border-radius: 3px;
    background-image: url(../../../assets/img/preloader/preloader.gif);
    background-repeat: no-repeat;
    background-size: $preloader-wd $preloader-hg;
}

/*@noflip*/
.preloader-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 10px;
    background-image: url(../../../assets/img/preloader/preloader.gif);
    background-size: $preloader-wd $preloader-hg;
}
.preloader-hidden {
    display: none;
}
// ngAnimate behavior
.preloader-hidden-add {
    opacity: 1;
    display: block;

    .preloader-progress {
        transition: transform .4s ease;
        transform: scale(0);
    }
}
.preloader-hidden-add-active {
    opacity: 0;
}